*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: rgb(153,152,150);
    background: linear-gradient(152deg, rgba(153,152,150,1) 35%, rgba(249,226,225,1) 100%);
    
}
.contenedor{
    width: 90%;
    max-width: 1000px;
    padding: 40px 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Estilos de las cards */
.tarjeta {
    width: 100%;
    max-width: 550px;
    position: relative;
    color: white;
    transition:  .3s ease all;
    transform: rotateY(0deg);
    /* efecto 3d, si se jira la parte de atras este oculta */
    transform-style:preserve-3d;
    backface-visibility: hidden;
    cursor: pointer;
    z-index: 2;
}

.tarjeta.active {
    transform: rotateY(180deg) ;
}
.tarjeta > div{
    padding: 30px;
    border-radius: 20px;
    min-height: 315px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 10px 10px 0 rgba(90,116,148 ,0.5);
}
/* front card */
.tarjeta .delantera{
    width: 100%;
    background: url(../img/bg-tarjeta-03.jpg);
    background-size: cover;
}

.delantera .logoMarca{
    text-align: right;
    min-height: 50px;

}
.delantera .logoMarca img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 80px;
}

.delantera .chip{
    width: 100%;
    max-width: 50px;
    margin-bottom: 20px;
}

.delantera .grupo .label{
    font-size: 16px;
    color: grey;
    margin-bottom: 5px;
}

.delantera .grupo .numero{
    color: azure;
    font-size: 22px;
    text-transform: uppercase;
}
.delantera .grupo .nombre{
    color: azure;
    font-size: 22px;
    text-transform: uppercase;

}
.delantera .grupo .expiracion{
    color: azure;
    font-size: 22px;
    text-transform: uppercase;
}
.delantera .flexbox{
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}

/* back card */
.trasera  {
    background: url(../img/bg-tarjeta-03.jpg);
    background-size: cover;
    position: absolute;
    top: 0;
    transform: rotatey(180deg);
    backface-visibility: hidden ;
}

.trasera .barraMagnetica{
    height: 40px;
    background: #4e4e4e;
    width: 100%;
    position: absolute;
    top: 30px;
    left: 0;
}
.trasera .datos{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.trasera .datos p{
    margin-bottom: 5px;
}
.trasera .datos #firma{
    width: 70%;
}
.trasera .datos #firma .firma{
    height: 40px;
    background: repeating-linear-gradient(skyblue 0, skyblue 5px, orange 5px, orange 10px);
}

.trasera .datos #firma .firma p{
    line-height: 40px;
    font-family: 'Liu Jian Mao Cao', cursive;
    color: black;
    font-size: 30px;
    padding: 0 10px;
    text-transform: capitalize;
}
.trasera .datos #ccv{
    width: 20%;
}

.trasera .datos #ccv .ccv{
    background: white;
    height: 40px;
    padding: 10px;
    text-align: center;
}
.trasera .leyenda{
    font-size: 14px;
    line-height: 24px;
}
.trasera .linkBanco{
    font-size: 14px;
    color:white;
}

/* -------------Btn form */
.contenedorBtn .btnAbrirFor{
    width: 50px;
    height: 50px;
    font-size: 20px;
    line-height: 20px;
    background: rgb(31, 31, 230);
    color: white;
    position: relative;
    top: -25px;
    z-index: 3;
    border-radius: 100%;
    box-shadow: -5px 4px 8px rgba(24 ,56,182,0.5);
    padding: 5px;
    cursor: pointer;
    transition: all 2s ease;
    border: none;
}
.contenedorBtn .btnAbrirFor:hover{
    background: rgb(92, 92, 243);
}
.contenedorBtn .btnAbrirFor.active{
    transform: rotate(90deg);
}

/* codigo viejo de estilos */
.card{
    width: 500px;
    height: 300px;
    border-radius: 10px;
    padding: 50px 20px 0 20px;
    box-sizing: border-box;
    /* background: rgb(157, 158, 158); */
    background: rgb(63,251,237);
    background: radial-gradient(circle, rgba(63,251,237,1) 0%, rgba(40,222,124,1) 100%);
    margin: 100px auto;
    box-shadow: 0 2px 10px rgba(0 ,0,0,0.5);
}
.card input{
    font-size: 20px;
    padding: 10px;
    border: solid 1px rgb(45, 154, 226);
    color: white;
    border-radius: 5px;
    background-color: transparent;
    margin: 5px 0;
    outline: none;
}

.holder {
    color: white;
    font-weight: bold;
    font-size: 28px;
    padding-top: 50px ;
    
}
#name{
    border:  0px;
}
.card #inputDate{
    width: 80px;
}
.card #inputCVV{
    width: 50px;
}
